@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --indigo: #420286;
}

body{
  font-family: 'Raleway', sans-serif;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  color: inherit;
}


/* //////////////////// */
/* nav section */
/* //////////////////// */

nav ul li{
  text-transform: uppercase;
  font-weight: bold;
}

nav button a{
  text-decoration: none;
  color: white;
}

nav button a:hover{
  color: white;
}

/* //////////////////// */
/* hero section */
/* //////////////////// */

#hero{
  background-image: radial-gradient(rgba(94, 45, 94, 0.2), rgba(0, 0, 0, 0.6)), url('../images/carousel2large.jpg');
  background-size: cover;
  background-position: center;
}
/* bg image for phone devices */
@media screen and (max-width: 768px){
  #hero{
    background-image: radial-gradient(rgba(94, 45, 94, 0.2), rgba(0, 0, 0, 0.6)), url('../images/carousel2small.jpg');
    
  }
}

#hero .container{
  height: 100vh;
  max-height: 900px;
}

#hero div h1{
  text-shadow: 3px 3px 5px black;
}

.p-slider{
  overflow: hidden;
  position: relative;
}

/* TODO background del slider */
/* .p-slider::before{
  content: "";
  overflow: visible;
  position: absolute;
  background-color: red;
  width: 100%;
  height: 100%;
} */

.slide-span{
  color: var(--indigo);
  font-weight: bold;
  display: none;
}

.span-in{
  display: inline-block;
  animation: spanIn .5s ease;
}

@keyframes spanIn {
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateY(0%);
  }
}

.span-out{
  animation: spanOut .5s ease;
}

@keyframes spanOut {
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-100%);
  }
}

.underline-span{
  position: relative;
  z-index: 2;
  display: inline-block;
}

.underline-span::before{
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  background-color: var(--indigo);
  cursor: pointer;
  z-index: -1;
  top: 79%;
}


.underline-titles-span{
  position: relative;
  z-index: 2;
  display: inline-block;
  text-shadow: 3px 3px 5px black;
}

.underline-titles-span::before{
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  background-color: var(--indigo);
  z-index: -1;
  top: 80%;
}

#hero button{
  min-width: 250px;
}

/* //////////////////// */
/* brands section */
/* //////////////////// */

#marcas{
  position: relative;
  top: -6em;
  z-index: 2;
}

#marcas .container{
  width: 90%;
  border-radius: 5px;
}

.title-marca{
  text-shadow: 3px 3px 7px rgb(168, 167, 167);
}

.underline-titles-span-marcas{
  position: relative;
  z-index: 2;
  display: inline-block;
  text-shadow: 3px 3px 5px gray;
}

.underline-titles-span-marcas::before{
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  background-color: var(--indigo);
  z-index: -1;
  top: 80%;
}

#marcas img{
  /* width: 100%; */
}

/* //////////////////// */
/* services section */
/* //////////////////// */

#seguros{
  background-image:linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url('../images/empresas-large.jpg');
  background-size: cover;
  background-position: center;
  padding-bottom: 5em;
  position: relative;
  top: -10em;
  padding-top: 4em;
  margin-bottom: -10em;
}
/* bg image for phone devices */
@media screen and (max-width: 768px){
  #seguros{
    background-image:linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url('../images/empresas-small.jpg');
  }
}

#seguros a{
  text-decoration: none;
  color: white;
}

#seguros a:hover{
  color: inherit;
}

.service-icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 70px;
  height: 70px;
  border: 3px solid white;
  color: white;
  transform: rotate(45deg);
  margin-bottom: 30px;
  transition: .1s linear;
}

.service-icon:hover{
  background-color: white;
  color: var(--indigo);
}
.service-icon i{
  transform: rotate(-45deg);
  font-size: 2rem;
  transition: .1s linear;
}

.service-icon:hover i{
  font-size: 3rem;
}

.service-title{
  text-transform: uppercase;
}


/* //////////////////// */
/* contact section */
/* //////////////////// */

#contacto{
  padding-top: 1.5em;
  padding-bottom: 2em;
  background-color: rgb(246, 235, 255);
  background-image:linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.37)), url('../images/cta-bg-resized.jpg');
}

.contact-info-icon{
  height: 2.5em;
  width: 2.5em;
  border-radius: 5px;
  font-size: 1.5em;
}

/* //////////////////// */
/* footer section */
/* //////////////////// */

.iconos-footer a i{
  font-size: 2rem;
  transition: .3s all;
}
.iconos-footer a i:hover{
  font-size: 2.5rem;
  color: var(--indigo);
}


/* //////////////////// */
/*  cotizador */
/* //////////////////// */

#cotizador{
  padding-top: 1.5em;
  padding-bottom: 2em;
}

.underline-title-span-cotizador{
  position: relative;
  z-index: 2;
  display: inline-block;
  text-shadow: 3px 3px 7px rgb(168, 167, 167);
}

.underline-title-span-cotizador::before{
  content: "";
  width: 100%;
  height: 10%;
  position: absolute;
  background-color: var(--indigo);
  z-index: -1;
  top: 80%;
}

#info-adicional{
  height: 10em;
}


/* //////////////////// */
/*  pagina de seguros  */
/* //////////////////// */

#cabecera{
  background-image: radial-gradient(rgba(94, 45, 94, 0.2), rgba(0, 0, 0, 0.6)), url('../images/seguros-header-redized.jpg');
  background-size: cover;
  background-position: 50% 30%;
  height: 20em;
}

#seguros-cta{
  background-image: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('../images/cta-bg-resized.jpg');
  background-size: cover;
  background-position: center;
  padding: 4em 0;
  background-color: var(--indigo);
}

#cta{
  background-color: #ad96c5;
  text-shadow: 3px 3px 5px black
}