// custom colors

$mycustomcolor1: #6f42c1;
$mycustomcolor2: #d63384;
$mycustomcolor3: rgb(187, 235, 15);

// changing bootstrap files

$primary:       $mycustomcolor1;
$secondary:     $mycustomcolor2;




// all boostrap scss default files
