// custom changes and new classes 
$primary: #420286;
$secondary: #e2e2e2;
$info: #420286;
// $warning,
// $danger,
// $success,
// $light,
// $dark

$btn-border-radius: 0%;
$btn-border-radius-sm: 0%;
$btn-border-radius-lg: 0%;


// bootstrap with variable and color changes 
@import "../bootstrap/bootstrap/scss/bootstrap.scss";

