// custom changes and new classes 
$primary: #420286;
$secondary: #e2e2e2;
$info: #420286;

$btn-hover-bg-shade-amount:       30%;


// bootstrap with variable and color changes 
@import "../bootstrap/bootstrap/scss/bootstrap.scss";

